{% extends 'base/index.html' %}
{% load static %}
{% block title %}
  Commodity
{% endblock %}
{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'style/general.css/general.display.commodity.css' %}" />
{% endblock %}

{% block content %}
  <br />
  <div class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-md">
          {% for commodity in display_commodity %}
            <img src="{{ commodity.commodity_img.url }}" id="commodityImg" alt="{{ commodity.commodity_name|upper }}" />
          {% endfor %}
        </div>
        <div class="col-md commodity-info">
          {% for commodity in display_commodity %}
            <h3 class="commodityName">{{ commodity.commodity_name|upper }}</h3>
            <hr>

            <p class="description">{{ commodity.description|capfirst }}</p>
            <br>
          {% endfor %}

          <hr>
          <div class="row">
            <div class="col-md">
              <div class="header">
                <span class="related_resources font-weight-bold">Resources Discussion</span>
                {% for commodity in display_commodity %}
                  <a href="{% url 'related-resources-commodity' id=commodity.commodity_id name='resources' %}">See more</a>
                {% endfor %}
              </div>
              {% if related_resources %}
                {% for resource in related_resources %}
                  <div class="card">
                    <ul>
                      <li>
                        <a href="{% url 'general-individual-resources' id=resource.resources_id %}">{{ resource.resources_title|capfirst|truncatechars:70 }}</a>
                      </li>
                    </ul>
                  </div>
                {% endfor %}
              {% else %}
                <span class="commodity-not-tagged">Commodity Not Tag Yet...</span>
              {% endif %}
            </div>

            <div class="col-md">
              <div class="header">
                <span class="related_forum font-weight-bold">Forum Post</span>
                {% for commodity in display_commodity %}
                  <a href="{% url 'related-resources-commodity' id=commodity.commodity_id name='forum' %}">See more</a>
                {% endfor %}
              </div>
              {% if related_forum %}
                {% for forum in related_forum %}
                  <div class="card">
                    <ul>
                      <li>
                        <a href="{% url 'general-forum-post' id=forum.discussion_id %}">{{ forum.discussion_title|capfirst }}</a>
                      </li>
                    </ul>
                  </div>
                {% endfor %}
              {% else %}
                <span class="commodity-not-tagged">Commodity Not Tag Yet...</span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
